<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
	  <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="SyndicationServiceLibrary1.Feed1" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SyndicationService" />
          </baseAddresses>
        </host>
        <endpoint contract="SyndicationServiceLibrary1.IFeed1" address="Notes" binding="webHttpBinding" behaviorConfiguration="SyndicationServiceLibrary1.Feed1Behavior"/>
		  <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
		<serviceBehaviors>
			<behavior name="ServiceBehavior">
				<serviceMetadata httpGetEnabled="true"/>
			</behavior> 
		</serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SyndicationServiceLibrary1.Feed1Behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
